@model GroupProject.Models.ExternalLoginConfirmationViewModel
@{
    ViewBag.Title = "Register";
}
<h2>@ViewBag.Title</h2>
<h3>Associate your @ViewBag.LoginProvider account.</h3>

@using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <p class="text-info">
        You've successfully authenticated with <strong>@ViewBag.LoginProvider</strong>. <br />
        Please choose the type of your Account and click the Register button to finish
        registering.
    </p>
    <hr />
    <div class="form-group">
        <div class="col-md-10">
            @Html.HiddenFor(m => m.Email)
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label" for="developer">Create a Developer Account!</label>
        <input id="developer" class="radio" type="radio" name="IsDeveloper" value="True" checked />
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label" for="company">Create a Company Account!</label>
        <input id="company" class="radio" type="radio" name="IsDeveloper" value="False" />
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Register" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
